{% load static %}
{% load i18n wagtailcore_tags %}
<!--
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida - Wagtail/Django</title>
     <link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
   
    <style>
        
    </style>
</head>
<body>
    <header class="header">
       
    </header>

    <main class="main">
        <div class="main-content">
            <div class="biomedicas-logo">
               <img src="{% static 'img/biomedicasLogo.png' %}" alt="Instituto de Investigaciones Biomédicas">
            </div>
            <div class="main-text">
                <h1>Sistema de gestion documental</h1>
                <h1>IIBO</h1>
                <p>Selecciona una aplicación para iniciar sesión:</p>
            </div>
        </div>
    </main>

    <footer class="footer" role="contentinfo">
        <a class="option option-one" href="{% url 'inicio_consejo' %}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v6h-2V7zm0 8h2v2h-2v-2z"/></svg>
            <div>
                <h2>Documentos-Consejo</h2>
                <p>Iniciar sesión de la aplicación</p>
            </div>
        </a>
        <a class="option option-two" href="{% url 'inicio_estimulos' %}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-3-8h6v2H9z"/></svg>
            <div>
                <h2>Documentos-Estímulos</h2>
                <p>Iniciar sesión de la aplicación</p>
            </div>
        </a>
        <a class="option option-three" href="{% url 'inicio_dictaminadora' %}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.5 13c-1.2 0-3.07.34-4.5 1-1.43-.67-3.3-1-4.5-1C5.33 13 1 14.08 1 16.25V19h22v-2.75c0-2.17-4.33-3.25-6.5-3.25zm-4 4.5h-10v-1.25c0-.54 2.56-1.75 5-1.75s5 1.21 5 1.75v1.25zm9 0H14v-1.25c0-.46-.2-.86-.52-1.22.88-.3 1.96-.53 3.02-.53 2.44 0 5 1.21 5 1.75v1.25zM7.5 12c1.93 0 3.5-1.57 3.5-3.5S9.43 5 7.5 5 4 6.57 4 8.5 5.57 12 7.5 12zm0-5.5c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm9 5.5c1.93 0 3.5-1.57 3.5-3.5S18.43 5 16.5 5 13 6.57 13 8.5s1.57 3.5 3.5 3.5zm0-5.5c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2z"/></svg>
            <div>
                <h2>Documentos-Dictaminadora</h2>
                <p>Iniciar sesión de la aplicación</p>
            </div>
        </a>


    <footer class="footer-app">
        <div class="container text-center text-muted">
            <small>© Hecho en México, Universidad Nacional Autónoma de México (UNAM), todos los derechos reservados 2016.
                Esta página puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica.
                De otra forma, requiere permiso previo por escrito de la institución.
                Sitio web administrado por la Sección de Cómputo del IIBO-UNAM.</small>
        </div>
    </footer>
</body>
</html>-->




<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida - Wagtail/Django</title>
    <link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
   
    <style>
        
    </style>
</head>
<body>
    <header class="header">
       
    </header>

    <main class="main">
        <div class="main-content">
            <div class="biomedicas-logo">
               <img src="{% static 'img/biomedicasLogo.png' %}" alt="Instituto de Investigaciones Biomédicas">
            </div>
            <div class="main-text">
                <h1>Sistema de Gestion Documental</h1>
                <h1>IIBO</h1>
                <p>Selecciona una aplicación para iniciar sesión:</p>
            </div>
        </div>
    </main>

    <footer class="footer" role="contentinfo">
        <a class="option option-one" href="{% url 'inicio_consejo' %}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v6h-2V7zm0 8h2v2h-2v-2z"/></svg>
            <div>
                <h2>Documentos-Consejo</h2>
                <p>Iniciar sesión de la aplicación</p>
            </div>
        </a>
        <a class="option option-two" href="{% url 'inicio_estimulos' %}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-3-8h6v2H9z"/></svg>
            <div>
                <h2>Documentos-Estímulos</h2>
                <p>Iniciar sesión de la aplicación</p>
            </div>
        </a>
        <a class="option option-three" href="{% url 'inicio_dictaminadora' %}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.5 13c-1.2 0-3.07.34-4.5 1-1.43-.67-3.3-1-4.5-1C5.33 13 1 14.08 1 16.25V19h22v-2.75c0-2.17-4.33-3.25-6.5-3.25zm-4 4.5h-10v-1.25c0-.54 2.56-1.75 5-1.75s5 1.21 5 1.75v1.25zm9 0H14v-1.25c0-.46-.2-.86-.52-1.22.88-.3 1.96-.53 3.02-.53 2.44 0 5 1.21 5 1.75v1.25zM7.5 12c1.93 0 3.5-1.57 3.5-3.5S9.43 5 7.5 5 4 6.57 4 8.5 5.57 12 7.5 12zm0-5.5c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm9 5.5c1.93 0 3.5-1.57 3.5-3.5S18.43 5 16.5 5 13 6.57 13 8.5s1.57 3.5 3.5 3.5zm0-5.5c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2z"/></svg>
            <div>
                <h2>Documentos-Dictaminadora</h2>
                <p>Iniciar sesión de la aplicación</p>
            </div>
        </a>
    </footer>

    <footer class="footer-app">
        <div class="container text-center text-muted">
            <small>© Hecho en México, Universidad Nacional Autónoma de México (UNAM), todos los derechos reservados 2016.
                Esta página puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica.
                De otra forma, requiere permiso previo por escrito de la institución.
                Sitio web administrado por la Sección de Cómputo del IIBO-UNAM.</small>
        </div>
    </footer>
</body>
</html>